<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-5 pt-xl-0 mt-xl-n5">

          <form style="width: 23rem; padding-top: 20%;" [formGroup]="formSignup" (submit)="submitForm()">
            <div class=" row mt-5 mb-4" style="margin-left: -35px;">
              <a [routerLink]="['../login']"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg></a>
              <h3 class="fw-normal mb-5" style="letter-spacing: 1px;">Sign Up</h3>
            </div>


            <div class="form-group mb-4">
              <label class="form-label" for="firstName">First name</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control form-control-lg" />
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="lastName">Last name</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control form-control-lg" />
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="email">E-mail</label>
              <input type="text" id="email" formControlName="email" class="form-control form-control-lg" />

            </div>


            <div class="form-group mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control form-control-lg" />

            </div>

            <div class="form-group mb-5">
              <label class="form-label" for="passwordConfirm">Confirm password</label>
              <input type="password" id="passwordConfirm" formControlName="passwordConfirm" class="form-control form-control-lg" />

            </div>

            <div class="pt-1">
              <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="!formSignup.valid">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
      <div class=" col-sm-6 px-0 d-none d-sm-block" style="max-height: 1200px;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" alt="Login image" class="w-100 vh-50" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
  <ngx-loading [show]="(loading | async)!" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>
</section>
