/src/back-end/.vs/AuthApplication/v16
/src/back-end/services/AuthApplication.Identity.API/bin/Debug/netcoreapp3.1
/src/back-end/services/AuthApplication.Identity.API/obj
/src/back-end/.vs/AuthApplication/DesignTimeBuild/.dtbcache.v2
/src/web-application/.vscode
/src/back-end/services/AuthApplication.Identity.API/Migrations
/src/back-end/services/AuthApplication.Identity.API/Identity.db
