<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-5 pt-xl-0 mt-xl-n5">
          <form style="width: 23rem;">
            <div class="row" style="margin-left: -35px;">
              <a [routerLink]="['../login']"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg></a>
              <h3 class="fw-normal mb-5 pb-3" style="letter-spacing: 1px;">Recovery</h3>
            </div>
            <div class="form-group mb-5">
              <label class="form-label" for="E-mail Address">E-mail</label>
              <input type="text" id="usr_email" class="form-control form-control-lg" placeholder="example@gmail.com" />

            </div>
            <div class="pt-1">
              <button class="btn btn-info btn-lg btn-block" type="button">Send Token</button>
            </div>
          </form>
        </div>
      </div>
      <div class=" col-sm-6 px-0 d-none d-sm-block" style="max-height: 1200px;">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" alt="Login image" class="w-100 vh-50" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
